<nb-card *ngFor="let quizz of lists">
    <nb-card-header>
        {{quizz.name || "unnamed quizz"}}
    </nb-card-header>
    <nb-card-body>
        <button nbButton (click)="editQuizz(quizz)"><nb-icon icon="edit"></nb-icon></button>|play|<button nbButton (click)="deleteList(quizz)"><nb-icon icon="trash"></nb-icon></button>
    </nb-card-body>
</nb-card>

<form [formGroup]="newList" (ngSubmit)="createList()">
    <input nbInput type="text" formControlName="name" fullWidth>
    <input nbButton type="submit" value="créer" [disabled]="newList.invalid">
</form>